<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar type="bar-positive" animation="nav-title-slide-ios7"
     back-button-type="button-icon button-clear"
     back-button-icon="ion-ios7-arrow-back"></ion-nav-bar>

    <ion-tabs tabs-style="tabs-icon" tabs-type="tabs-default">

      <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Turn Order" icon="icon ion-android-social" href="#/tab/turn">
        <ion-nav-view name="turn-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Payments" icon="icon ion-card" href="#/tab/payment">
        <ion-nav-view name="payment-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Calculator" icon="icon ion-calculator" href="#/tab/calculator">
        <ion-nav-view name="calculator-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <div class="title">Left Menu</div>
    </header>
    <ion-content has-header="true">
      <div>Preparation</div>
      <div>Step 1</div>
      <div>Step 2</div>
      <div>Step 3</div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
