<?xml version='1.0' encoding='utf-8'?>

<widget id="com.heddway.pgcomp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>PGCompanion</name>
  <description>
    A digital companion for the game Power Grid.
  </description>

  <author email="TBD@noreply.com" href="http://noreply.com/">
  </author>

  <content src="index.html" />

  <access origin="*" />

  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
</widget>
