<!-- TODO turn order -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" id="title-panel">
                <div class="panel-body">
                    Map Name: <input type="text" ng-model="map.name">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" id="introduction-panel">
                <div class="panel-heading"><h2 class="panel-title">Introduction</h2></div>
                <div class="panel-body notes">
                    <textarea rows="8" cols="100" ng-model="map.overview"></textarea>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default" id="payments-panel">
                <div class="panel-heading"><h2 class="panel-title">Payments</h2></div>
                <div class="panel-body">
                    <p>
                    <span ng-repeat="elektro in map.payments">
                        [<b>{{ $index }}</b>={{ elektro }}]
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" id="prep-panel">
                <div class="panel-heading"><h2 class="panel-title">Preparation</h2></div>
                <div class="panel-body">
                    {{map.preparation}}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default" id="limits-panel">
                <div class="panel-heading"><h2 class="panel-title">Limits</h2></div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Players</th>
                            <th>Regions</th>
                            <th>Remove</th>
                            <th>Max Plants</th>
                            <th>Step 2</th>
                            <th>End Game</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="limit in map.limits">
                            <th>{{limit.players}}</th>
                            <td><input type="text" size="3" ng-model="limit.regionsInUse"></td>
                            <td><input type="text" size="3" ng-model="limit.cardsToRemove"></td>
                            <td><input type="text" size="3" ng-model="limit.maxPlantsPerPlayer"></td>
                            <td><input type="text" size="3" ng-model="limit.step2Trigger"></td>
                            <td><input type="text" size="3" ng-model="limit.endGameTrigger"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" id="restock-panel">
                <div class="panel-heading"><h2 class="panel-title">Restocking</h2></div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Players</th>
                                <th>Step</th>
                                <th>Coal</th>
                                <th>Oil</th>
                                <th>Trash</th>
                                <th>Nuke</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="restock in map.restock">
                            <th>{{restock.players}}</th>
                            <th>{{restock.step}}</th>
                            <td><input type="text" size="4" ng-model="restock.coal"></td>
                            <td><input type="text" size="4" ng-model="restock.oil"></td>
                            <td><input type="text" size="4" ng-model="restock.trash"></td>
                            <td><input type="text" size="4" ng-model="restock.nuke"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" id="notes-panel">
                <div class="panel-heading"><h2 class="panel-title">Remarks &amp; Exceptions</h2></div>
                <div class="panel-body">
                        {{map.notes}}
                </div>
            </div>
        </div>
    </div>

    <pre id="json-data">{{map}}</pre>
</div>
