<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">{{map.name}}</span>
        </div>

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{numPlayers}} Players <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-click="numPlayers = 2"><a class="nav-item">2</a></li>
                    <li ng-click="numPlayers = 3"><a class="nav-item">3</a></li>
                    <li ng-click="numPlayers = 4"><a class="nav-item">4</a></li>
                    <li ng-click="numPlayers = 5"><a class="nav-item">5</a></li>
                    <li ng-click="numPlayers = 6"><a class="nav-item">6</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/select">Home</a></li>
            <li><a href="#/select">Calculator</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">Introduction</h2></div>
                <div class="panel-body notes">{{map.overview}}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">Limits</h2></div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Regions In Use</th>
                            <td>{{ (map.limits | filter:{players:numPlayers})[0].regionsInUse }}</td>
                        </tr>
                        <tr>
                            <th># Plant Cards Removed</th>
                            <td>{{ (map.limits | filter:{players:numPlayers})[0].cardsToRemove }}</td>
                        </tr>
                        <tr>
                            <th>Max Plants per Player</th>
                            <td>{{ (map.limits | filter:{players:numPlayers})[0].maxPlantsPerPlayer }}</td>
                        </tr>
                        <tr>
                            <th>Cities to Begin Step 2</th>
                            <td>{{ (map.limits | filter:{players:numPlayers})[0].step2Trigger }}</td>
                        </tr>
                        <tr>
                            <th>Cities to End the Game</th>
                            <td>{{ (map.limits | filter:{players:numPlayers})[0].endGameTrigger }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">Turn Order</h2></div>
                <div class="panel-body">
                    <ol>
                        <li ng-repeat="turn in map.turnOrder">{{turn}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">Preparation</h2></div>
                <div class="panel-body notes">
                    <p ng-repeat="prep in map.preparation | filter:{players:numPlayers}">
                        {{prep.content}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">Payments</h2></div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Bldg</th><th>E</th>
                            <th>Bldg</th><th>E</th>
                            <th>Bldg</th><th>E</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="idx in [0, 1, 2, 3, 4, 5, 6]">
                            <th>{{ idx }}</th><td>{{ map.payments[idx] }}</td>
                            <th>{{ idx + 7 }}</th><td>{{ map.payments[idx+7] }}</td>
                            <th>{{ idx + 14 }}</th><td>{{ map.payments[idx+14] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">Restock</h2></div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr><th>Step</th><th>1</th><th>2</th><th>3</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Coal</th>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:1})[0].coal }}</td>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:2})[0].coal }}</td>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:3})[0].coal }}</td>
                        </tr>
                        <tr>
                            <th>Oil</th>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:1})[0].oil }}</td>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:2})[0].oil }}</td>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:3})[0].oil }}</td>
                        </tr>
                        <tr>
                            <th>Trash</th>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:1})[0].trash }}</td>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:2})[0].trash }}</td>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:3})[0].trash }}</td>
                        </tr>
                        <tr>
                            <th>Nuke</th>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:1})[0].nuke }}</td>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:2})[0].nuke }}</td>
                            <td>{{ (map.restock | filter:{players:numPlayers, step:3})[0].nuke }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row" ng-if="map.notes">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">Remarks &amp; Exceptions</h2></div>
                <div class="panel-body notes">
                    <p ng-repeat="note in map.notes | filter:{players:numPlayers}">
                        <code>Step: {{note.steps}}</code>
                        {{note.content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
