<h1>{{map.name}}</h1>

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Preparation</h2></div>
  <div class="panel-body">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Limits</h2></div>
  <div class="panel-body">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Remarks &amp; Exceptions</h2></div>
  <div class="panel-body">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Restocking</h2></div>
  <div class="panel-body">
  </div>
</div>
