<h1>Power Grid Digital Companion</h1>

<!--
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Game Guide</h2>
  </div>

  <div class="panel-body">
    <ul class="nav">
      <li><a href="#/guide/{{map.id}}" ng-repeat="map in maps">{{map.name}}</a></li>
    </ul>
  </div>
</div>
-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Game Guide</h2>
  </div>

  <div class="panel-body">
    <select ng-model="mapId">
      <option value="{{map.id}}" ng-repeat="map in maps">{{map.name}}</option>
    </select>

    <div class="btn-group">
      <button class="btn btn-primary" ng-model="numPlayers" btn-radio="2">2</button>
      <button class="btn btn-primary" ng-model="numPlayers" btn-radio="3">3</button>
      <button class="btn btn-primary" ng-model="numPlayers" btn-radio="4">4</button>
      <button class="btn btn-primary" ng-model="numPlayers" btn-radio="5">5</button>
      <button class="btn btn-primary" ng-model="numPlayers" btn-radio="6">6</button>
    </div>
  </div>

  <div class="panel-footer">
    <a href="#/quickref/{{mapId}}-{{numPlayers}}">Quick Reference</a>
  </div>
</div>
